/* CSS for Assignment 1*/

/*
	Things to fix
	- fix text font
	- set the entire page to 1512 x 982  mobile 414*1517 what does that mean?
	OH 2-3 and 4-5

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

.headercontainer{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;

	
}

.logobox{
	width: 340px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	
	margin-top: 100px;
}


#stripe{
	background-color: #008278;
	position: absolute;
	margin-top: 144px;
	z-index: -1;
	opacity: 0.1;
	width: 100%;
	height: 200px;

}


#title1{
	color: rgb(2, 40, 81);
	display: flex;
	justify-content: flex-start;
}

#title2{
	color: rgb(2,40,81);
	display: flex;
	justify-content: flex-start;
}


.logo_area{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-right: 10px;
	

}

.logo_element{
	width: 100%;
	height:auto;
}


.logo_picture{
	
	width: 68%;

}

#logo_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

#logotext1{
	font-family:"Montserrat",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:16px;
	color: rgb(2, 40, 81);
}

#logotext3{
	font-family:"Montserrat",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:16px;
	color: rgb(2, 40, 81);
}

#logotext2{
	font-family:"Montserrat", san-serif;
	font-weight:700;
	font-size: 16px;
	color: rgb(0, 130, 120);
}

.headertitle{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap-reverse;
	margin-right: 100px;


}

.header_element{
	font-family:"Montserrat", sans-serif;
	font-weight: 700;
	font-size:50px;
	font-style:italic;
	display: flex;
	/*flex-direction: column;*/
	flex-direction: column;
	flex-wrap: wrap-reverse;
	/*align-items: flex-start;*/
	margin-bottom: 0;

}
#title1{
	margin-bottom: -10px ;
}
#title2{
	margin-bottom: -12px;
}





.tile{
	display: flex;
	flex-direction: row;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 50px;

	

}
.tile1{
	display: flex;
	flex-direction: column;
	margin-right: 60px;

	
}
.tile2{
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	
}

.captions{
	font-family:"Montserrat",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:14px;
	margin-right:0px ;
	margin-bottom: 20px;



}

.bodytext{
	font-family:"Montserrat",sans-serif;
	font-style:normal;
	font-weight:400;
	font-size:20px;
	width: 100%;
	margin-bottom: 40px;
	margin-bottom: 40px;	

}

.body_img {
	width:100%; 
}


@media (max-width: 1000px ) {
/*Setting Mobile Dimension  414 x 1725 px*/
min-width: 360px;


.headercontainer{
	width: 100%;
}

.headertitle{
	margin-top: 50px;
	margin-right: -10px;
}


.container {

	display:flex;
	flex-direction: column;
	flex-wrap: wrap; 
	width: 100%;
	
}

#title2{
	margin-top: -10px;
}


.tile{
	display:flex;
	flex-direction: column;
	margin-left: 65px;
	margin-right: 65px;


}


.tile1{

	width: 100%;
	margin-bottom: 80px;
	max-width: 700px;
	align-self: center;
	margin-right: -18px;

}


.tile2{
	width: 100%;
	
	display: flex;
	margin-bottom: 80px;
	max-width: 700px;
	align-self: center;
	margin-left: 0px;

}


#tile2Text{order: 2}
#tile2Figure{order: 1}


.headercontainer{
	display:flex;
	flex-direction: column;
	align-items: center;

}

#stripe{
	margin-top: -20px;
	height: 100px;
	width: 100%;
	
}

.header_element {
	font-size: 24px;

}

.bodytext{
	font-size: 18px;
}

#museum_logo {
	width: 48%;
	height: auto;

}

.logobox{
	margin-top: 50px;
	margin-left: -80px;
}

#title1{
	margin-left: 10px;

	margin-bottom: 10px ;
	
}
#title2{
	margin-top: -20px;
}



}



